html{
    height: 100%;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  color: #f1f2f6;
  font-family: 'Raleway', sans-serif;
  background: #34495e;
}
.bg {
	background: rgba(44, 62, 80, 0.836);
	background: linear-gradient(90deg, rgba(44, 62, 80, 0.61) 0%, rgba(52, 73, 94, 0.611) 25%, rgba(60, 99, 130, 0.614) 52%, rgba(52, 73, 94, 0.61) 78%, rgba(44, 62, 80, 0.616) 100%), url("../img/airportx.jpg");
	/* background-color: #2ecc71; */
	height: 100%;
	/* background-position: cover; */
  background-size: cover;
  background-repeat: no-repeat;
}
.admin_icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

.admin_log {
    position: absolute;
    top: 5%;
    right: 5%;
    display: inline-block;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    /* border: 2px solid #f1f2f6; */
    /* border-radius: 50%; */
    cursor: pointer;
}
.admin_block {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #f1f2f6;
    border-radius: 50%;
}
.admin_block2 {
    display: none;
    font-size: 20px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background: #f1f2f6;
}
.admin {
    display: block;
    padding-bottom: 8px;
    font-size: 24px;
    text-align: center;
    color: #191919;
    text-decoration: none;
}
.back {
    position: absolute;
    top: 10%;
    left: 5%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.back a i {
    font-size: 24px;
    color: white;
}
.title {
    width: 80%;
    margin: 100px auto 60px auto;
}
.title h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #f1f2f6;
    text-transform: uppercase;
    /* margin: 0 auto; */
}

.main_content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.main_content h2 {
    display: inline;
    text-align: center;
    font-size: 2.5rem;
    color: #f1f2f6;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 5px solid #f1f2f6;
}
.main_content .col {
    text-align: center;
    width: 49%;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
}
.main_content .col .content {
    margin: 40px 60px 0 60px;
    padding: 20px;
    background-color: #f1f2f657;
    transition: 0.5s ease-in-out;
}
.main_content .col .content:hover {
    background-color: #f1f2f6;
}
.main_content .col .content a {
    color: #f1f2f6;
    text-decoration: none;
    font-size: 22px;
    transition: 0.5s ease-in-out;
}
.main_content .col .content:hover a {
    color: #191919;
}
.main_content .col .content a i {
    font-size: 6rem;
    display: block;
    padding-bottom: 30px;
}
.main_content .col .content a .icon_t {
    font-size: 5rem;;
}

@media screen and (max-width: 1199.98px ) {
    .title h1 {
        font-size: 2.5rem;
    }
    .main_content .col .content {
        margin: 40px 40px 0 40px;
        padding: 20px;
    }
    .main_content .col .content a i {
        font-size: 5rem;
    }
}
@media screen and (max-width: 991.98px) {

    .admin_log {
       right: 2%; 
    }
    .main_content .col .content {
        margin: 40px 20px 0 20px;
        padding: 20px 0;
    }
    .main_content .col .content a i {
        font-size: 4rem;
    }
    .main_content .col .content a {
        font-size: 22px;
    }
}
@media screen and (max-width: 767.98px ) {
    .title h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 575.98px ) {
    .admin_log {
        top: 4%; 
     }
}