#menu{
	padding:0;
	list-style-type:none;
	width: 65%;
	background: #191919;
	border-bottom: 5px solid #f1f2f6;
	min-height: 56px;
	margin: 20px auto;
	font-size: 14px;
}
#menu li{
	float:left;
	border-right:1px solid #605B5B;
	border-left:1px solid #2B2A2A;
	position:relative;
	
}

#menu li:last-child{
	border-right:none;
}
#menu li:first-child{
	border-left:none;
}
#menu li a{
	color: #f1f2f6;
	text-decoration:none;
	background: #191919;
	padding:20px 20px;
	display:block;
	transition:0.3s all ease;
}
#menu li a:hover{
	background: #f1f2f6;
	color: #191919;
}


#menu li ul{
	list-style-type:none;
	padding:0;
	position:absolute;
	left:-99999px;
	/*transition:0.5s all ease;*/
}
#menu li:hover ul{
	left:0;
	z-index: 100;
}

#menu li ul li{
	float:none;
	border-right:none;
	border-left:none;
	border-top:1px solid #605B5B;
	border-bottom:1px solid #2B2A2A;	
	width: 250px;
}














